/* Style sheet for Distant Imagery */

body {
    font-family:helvetica, verdana, sans-serif;
    background: #fff;
    color: #777;
    font-size: 12px;
    }
    
p {
    padding: 0px;
    margin: 0px;
    }
    	
img {
    border: 1px solid #000;
    }
    
ol {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    
a {
    color: #444;
    text-decoration: none;
    }

a:hover {
    color: #f70;
    }
    
img.noborder {
    border: 0px;
    margin: 0px;
    padding: 0px;
    }
    
table.header {
	padding: 0px;
	margin: 0px auto;
	width: 750px;
	border: 0px;
	}
	
table.main {
	padding: 0px;
	margin: 0px auto;
	width: 750px;
	border: 0px;
	}

td.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #000;
    }
    
td.siteinfo {
    vertical-align: bottom;
    }
    
td.menu {
    font-weight: bold;
    text-align: right;
    vertical-align: bottom
    }
    
td.name {
    font-size: 14px;
    font-weight: bold;
    }
    
td.navigation {
    text-align: right;
    }
    
td.seperator {
    border-top: 1px solid;
    }
	
td.image {
    text-align: center;
    }
    
td.notes {
    vertical-align: top;
    }
    
td.exif {
    font-size: 10px;
    color: #777;
    text-align: right;
    vertical-align: top;
    }

td.thumbrow {
    text-align: center;
    }
    
td.about {
    width: 50%;
    vertical-align: top;
    }

td.comments {
    vertical-align: bottom;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    }
    
p.exif {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    }

p.heading {
    font-weight: bold;
    color: #000;
    }
    
p.indent {
    margin-left: 20px;
    }
    
p.left {
    text-align: left;
    }

p.right {
    text-align: right;
    }
    
.thumbnails {
    padding: 5px;
    border: 0px;
    }

.current-thumbnail {
    padding: 5px;
    background: #aaa;
    border: 1px solid #aaa;
    }
    
#wrapper {
	margin: 0px auto;
	padding: 0px;
	width: 750px;
	text-align: left;
	}
	
#footer {
    text-align: right;
    }
    
